body {
    background-color: #ecddd4;
}

article {
    border: 1px solid #b47a3c;
    background-color: #e7cdb4;
    width: 320px;
    margin: 50% auto; /*auto centra la tarjeta*/
    padding: 20px;
    border-radius: 12px;
    box-shadow: 5px 5px 10px #232323; /*ejeX, ejeY, desenfoque, color*/
    text-align: center; /*Pone todo en el centro*/
}

#img1 {
    border-radius: 50%; /*circular */
    border: 5px solid #634e38; /*Grosor, estilo(sólido), color */
}

h1 {
    font-family: "Brush Script MT", cursive; /*Fuente*/
    color: #634e38; /*Color*/
    margin-top: -8px; /*espacio arriba*/
    margin-bottom: -12px; /*espacio bajo*/
}

p {
    font-family: "Courier New", Courier, monospace; 
    color: #634e38;
    font-size: 14px; /*tamaño*/
}

h2 {
    margin-top: 16px;
    margin-bottom: -12px;
    font-size: 14px;
    color: #301a01;
}

ul {
  margin-top: 0px;
  padding: 20px;
  list-style-position: inside; /*Estar pegado*/
}

li.GitHub {
  list-style-image: url('https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://brand.github.com&size=128');
  width: 270px; /*Espacio del lado izquierdo*/
}

li.LinkedIn {
  list-style-image: url('https://www.shareicon.net/data/32x32/2017/02/16/879314_media_512x512.png');
}
li.X {
  list-style-image: url('https://www.shareicon.net/data/32x32/2015/08/05/80512_x_512x512.png');
  width: 224px;
}