body {
    background-color: #ecddd4;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px; /* Altura base uniforme para las filas */
  grid-auto-flow: dense;
  gap: 16px; /*Espaciado entre elementos*/
  padding: 4px;
  max-width: 800px;
  margin: 0 auto;
}

.galeria figure {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.girasoles {
  grid-row: span 2;
}

.la_noche_estrellada {
  grid-column: span 2;
  grid-row: span 2;
}

.La_silla {
  grid-row: span 2;
}